.img-icon {
  height: 200px;
  width: 200px;
  cursor: pointer;
  transition: 1s;
  border-radius: 5%;
  padding: 10px;
}

.img-icon:hover {
  opacity: 75%;
  transform: scale(1.15);
}

/* div#gallery > a {
  padding: 10px;
} */

#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

#img-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#img-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

#img-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

#close-button {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close-button:hover,
#close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

