.img-icon {
  height: 200px;
  width: 200px;
  cursor: pointer;
  transition: 1s;
  border-radius: 25%;
  padding: 10px;
}

.img-icon:hover {
  opacity: 75%;
  transform: scale(1.15);
}

#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

#img-popup {
  display: none;
  position: fixed; 
  padding-top: 100px;
  left: 0;
  top: 0; 
  width: 100vw; 
  height: 100vh; 
  overflow: scroll;
  background-color: rgba(0,0,0,0.7);
}

#img-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  color: white;
  max-width: 700px;
  text-align: center;
  padding: 10px;
  height: 150px;
}

#close-button {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

#close-button:hover {
  color: grey;
  cursor: pointer;
}

#arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

#left-arrow {
transform: rotate(180deg);
}

#left-arrow, #right-arrow {
  color: white;
  font-size: 300%;
}
