ul {
  list-style-type: none;
}

.menu {
  background-image: url(../images/menubackground.png);
  border: solid 5px navy;
  transition: border-width 0.6s linear;
}

.menu:hover { border-width: 10px; }

.service-listing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

footer > ul > li {
  font-size: x-small;
}

h2 {
  color: palevioletred;
}

ul.menu > li > div {
  font-family: 'Chilanka', cursive;
  color: navy;
}