ul {
  list-style-type: none;
}

.menu {
  background-image: url(../images/menubackground.png);
  /* border: dotted; */
  border: solid 5px navy;
  transition: border-width 0.6s linear;
}

.menu:hover { border-width: 10px; }

.service-listing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

footer > ul > li {
  font-size: x-small;
}

h2 {
  font-family: 'Lobster', cursive;
}

ul > li > div {
  font-family: 'Oswald', sans-serif;
  color: navy;
}