body {
	margin: 0px;
  background-color: lightgreen;
}

.root {
	max-width: 700px;
	margin: auto;
}

h1 { 
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
}

ul.nav  {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.nav li {
	float: left;
	text-align: center;
	width: 140px;
}

a.header-link {
	display: block;
	color: white;
	background-color: #aa0000;
	padding: 2px;
	text-decoration: none;
}

a.header-link:hover {
	background-color: rgb(80, 80, 80);
}

.icon-reference {
	font-size: x-small;
}

@media (max-width: 700px) {
	ul.nav li {
		width: 20%;
	}
}

@media (max-width: 400px) {
	ul.nav li {
		width: 100vw;
	}
}